<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">& copy ; <%= year %>, CSE 340 App</p>
</footer>

<a href="/inv/test/error500">Click here to trigger a 500 error</a>
