<h2 id="title-hero">Welcome to CSE Motors!</h2>

<div class="hero-section">
    <aside id="banner">
        <h3>DMC Delorean</h3>
            <span> 3 cup holders</span>
            <span> Superman doors</span>
            <span> Fuzzy dicel</span>
            <button>Own Today</button>
    </aside>
    <div id="img-container">
        <img id="hero" src="/images/vehicles/delorean.jpg" alt="">
    </div>
</div>