<h2 id="title-hero">Welcome to CSE Motors!</h2>

<div class="hero-section">
    <aside id="banner">
        <h3>DMC Delorean</h3>
            <span> 3 cup holders</span>
            <span> Superman doors</span>
            <span> Fuzzy dicel</span>
            <button>Own Today</button>
    </aside>
    <div id="img-container">
        <img id="hero" src="/images/vehicles/delorean.jpg" alt="">
    </div>
</div>

<div id="container-section">

    <section id="reviews-section">
        <h3>DMC Delorean Reviews</h3>
        <ul>
            <li>"So fast it´s almost like traveling in time.(4/5)</li>
            <li>"Coolest ride on the road."(4/5)</li>
            <li>"I´m feeling McFly"(5/5)</li>
            <li>"The most futuristic ride of our day."</li>
            <li>"80´s livin and I love it!"</li>
        </ul>
    </section>

    <section>
        <h3>Delorean Upgrades</h3>

        <div id="upgrades-section">
            <div class="upgrades">
                <div class="img-upgrade-cont">
                    <img src="/images/upgrades/flux-cap.png" alt="">
                </div>
                <p>flux Capacitor</p>
            </div>
            <div class="upgrades">
                <div class="img-upgrade-cont">
                    <img src="/images/upgrades/flame.jpg" alt="">
                </div>
                <p>Flame Decals</p>
            </div>
            <div class="upgrades">
                <div class="img-upgrade-cont">
                    <img src="/images/upgrades/bumper_sticker.jpg" alt="">
                </div>
                <p>Bumper Stickersr</p>
            </div>
            <div class="upgrades">
                <div class="img-upgrade-cont">
                    <img src="/images/upgrades/hub-cap.jpg" alt="">
                </div>
                <p>Hub Caps</p>
            </div>
        </div>




</section>
</div>